# npm 镜像源配置

registry=https://registry.npmmirror.com/
disturl=https://npmmirror.com/mirrors/node/
sass-binary-site=https://npmmirror.com/mirrors/node-sass/

auto-install-peers=true # 自动安装任何缺少的冲突对等依赖项
node-linker=hoisted # 使用软链接安装 node_modules 依赖
