@import 'tailwindcss';
@plugin 'daisyui';

:root {
    font-family:
        Douyin Sans,
        Helvetica,
        Arial,
        Menlo,
        Monaco,
        monospace,
        sans-serif;

    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);

    /* 文本渲染优化 */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 渐变动画背景 */
.linear-bg {
    background: linear-gradient(-45deg, #ee7752, #ce3e75, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s linear infinite;
    -moz-animation: Gradient 10s linear infinite;
    animation: Gradient 10s linear infinite;
}
@keyframes Gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

/* 隐藏垂直滚动条 */
* ::-webkit-scrollbar {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    /* 禁止在浏览器上选中文本内容 */
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#app {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    background-color: #f4f8fb;
}
